* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  gap: 0.5vh;
  display: grid;
  grid-template-areas:
    "a1 a1"
    "container container";

  overflow: hidden;
}
.area-1 {
  border-radius: 1vh;
  grid-template-areas: a1;
  background-color: #d0d0d0;
  font-size: 2em;
  height: 20vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-2 {
  border-radius: 1vh;
  color: white;
  font-size: 2em;
  height: 100%;
  grid-area: a2;
  width: 100vw;
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-3 {
  border-radius: 1vh;
  width: 100vw;
  font-size: 2em;
  color: white;
  height: 100%;
  grid-template-areas: a3;
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  grid-area: container;
  display: grid;
  grid-template-areas:
    "a2 a2"
    "a3 a3";
  width: 100vw;
  height: 90vh;
  gap: 1vh;
}
@media (min-width: 1000px) {
  .container {
    display: grid;
    gap: 1vh;
    grid-template-areas: "a2 a3";
  }
  .content {
    gap: 0.5vh;
    display: grid;
    grid-template-areas:
      "a1 a1"
      "container container";

    overflow: hidden;
  }
  .area-1 {
    width: 100vw;
  }
  .area-2 {
    width: 60vw;
  }
  .area-3 {
    border-radius: 1vh;
    width: 40vw;
  }
  .container {
    grid-template-areas: "a2 a3";
    height: 90vh;
  }
}
