* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-area {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-form {
  width: 100%;
  padding: 2vh;
  font-size: 1.3em;
  color: #606060;
}
.title-form h1 {
  font-weight: 300;
}
.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
.forms .input-area {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forms input {
  background-color: #ececec;
  border-radius: 5vh;
  padding: 3vh;
  color: #b2b2b2;
  width: 100%;
  border: none;
  padding-left: 9vh;
}

.forms input:focus,
.forms textarea:focus {
  outline: none;
}

.input-area img {
  height: 4vh;
  position:  absolute;
  left: 10%; 
  filter: opacity(0.5);
}
.form-area textarea {
  padding: 2vh;
  border: none;
  color: #b2b2b2;
  width: 90vw;
  border-radius: 3vh;
  background-color: #ececec;
}

.button-form {
  background-color: #ff9472;
  color: white;
  padding: 3vh;
  border-radius: 5vh;
  border: none;
  width: 90vw;
  font-size: 1.2em;
  margin-top: 4vh;
}
